<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
    }
    
    table {
      border-collapse: collapse;
      width: 50%;
     
    }
    .table-data{
        position: relative;
      left:150px;
      top:100px;
    }
    th, td {
      padding: 15px;
    }
    </style>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>


<table border="1">
    <tr>
        <th>id</th>
        <th>tweet date</th>
        <th>username</th>
        <th>contents</th>
        <th>link_origin</th>
        <th>retweets</th>
        <th>favorites</th>
        <th>joined_data</th>
        <th>num_tweets</th>
        <th>num_following</th>
        <th>num_follower</th>
    </tr>
    
    <%
    if(userData.length!=0){
    let i=1;
    userData.forEach(function(data){
    %>
    <tr>
        <td><%=data.id %></td>
        <td><%=data.tweet_date %></td>
        <td><%=data.username %></td>
        <td><%=data.contents %></td>
        <td><%=data.link_origin %></td>
        <td><%=data.retweets %></td>
        <td><%=data.favorites %></td>
        <td><%=data.joined_data %></td>
        <td><%=data.num_tweets %></td>
        <td><%=data.num_following %></td>
        <td><%=data.num_follower %></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
</table>

    </div>
</body>
</html>